.fc-button-group {
    font-size: 1rem;
}

.fc .fc-button-primary {
font-size: 1rem;
}
  
  @media (max-width: 768px) {
    .fc .fc-view-harness{
        font-size: 0.7rem;
    }
    .fc-button-group {
      font-size: 1rem; 
      padding: 0.5rem;
    }
    .fc .fc-button-primary {
        font-size: 1rem;
      }
  }
  
  @media (max-width: 480px) {
    .fc .fc-view-harness{
        font-size: 0.7rem;
    }
    .fc .fc-toolbar-title {
        font-size: 1.5rem;
    }
    .fc-button-group {
      font-size: 0.7rem;
      padding: 0.3rem;
    }
    .fc .fc-button-primary {
        font-size: 0.7rem;
        padding: 0.3rem;
      }
    /* .fc-dayGridMonth-view {
    height: 300px;
    } */
     /* .fc .fc-daygrid-body {
    height: 10px;
    width: 50vw;
    } */
  }