.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(images/banner.png);
  background-size: cover;
  background-position: center;
}
.container{
  padding: 0 7%;
}

.header h1{
  font-size: 4vw;
  font-weight: 500;
  color: #fff;
  text-align: center;
  padding-top: 22%;
}

.search-bar{
  background: #fff;
  width: 70%;
  margin: 30px auto;
  padding: 6px 10px 6px 30px;
  border-radius: 10px;
}
.search-bar form{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.search-bar form input{
  display: block;
  border: 0;
  outline: none;
  background: transparent;
  max-width: 160px;
}
.search-bar form button{
  background: #D3212D;
  width: 55px;
  height: 55px;
  border-radius: 10%;
  border: 0;
  outline: none;
  cursor: pointer;
}
.search-bar form button img{
  width: 15px;
  margin-left: 20px;
}
.location-input{
  flex: 1;
}
.search-bar form label{
  font-weight: 600;
}
.dropdown{
  background-color: white;
  display: flex;
  flex-direction: column;
  /* border: 1px solid gray; */
}
.dropdown:empty{
  border: none;
}
.dropdown-row{
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
}
/* -------special-offers--------- */
.special-offers{
  margin: 80px 0;
  background-image: linear-gradient(to right, #1a6196, transparent),url(images/banner-1.png);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 5%;
  color: #fff;
}
.special-offers h3{
  font-size: 4vw;
  line-height: 5.3vw;
  font-weight: 500;
}
.special-offers p{
  font-size: 18px;
  margin: 10px 0;
}
.special-offers-btn{
  background: none;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
  padding: 12px 30px;
  border-radius: 8px;
  margin-top: 20px;
  display: inline-block;
  font-size: 18px;
}
.special-offers-flag{
  background: #D3212D;
  color: #fff;
  text-decoration: none;
  padding: 6px 30px;
  border-radius: 8px;
  margin-top: 20px;
  display: inline-block;
}

/* ---------property-type------------- */
.container h2 {
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  text-decoration: none;
  position: relative;
}
.container h2:hover {
  opacity: 0.9;
  transition: .5s;
}
.property-type{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 30px;
}
.property-type div img{
  width: 100%;
  border-radius: 10px;
}
.property-type div:hover img {
  opacity: 0.9;
  transition: .5s;
}
.property-type div{
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  font-size: 18px;
}
.property-type div span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: #fff;
}
.property-type div span h3{
  font-size: 20px;
}

/* -------call to action--------- */
.cta{
  margin: 80px 0;
  background-image: linear-gradient(to right, #3f2321, transparent),url(images/banner-2.png);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 5%;
  color: #fff;
}
.cta h3{
  font-size: 4vw;
  line-height: 5.3vw;
  font-weight: 500;
}
.cta p{
  font-size: 18px;
  margin: 10px 0;
}
.cta-btn{
  background: #D3212D;
  color: #fff;
  text-decoration: none;
  padding: 12px 30px;
  border-radius: 8px;
  margin-top: 20px;
  display: inline-block;
  font-size: 18px;
}

/* ------------Locations------------ */
.locations{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    margin-bottom: 30px;
}
.locations div img{
    width: 100%;
    border-radius: 10px;
}
.locations div img:hover {
  transform: scale(1.1); 
  transition: .5s;
}
.locations div{
    position: relative;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
}
.locations p{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 26px;
}

/* ------------Recommendations------------ */
.recommendations{
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-row-gap: 30px;
  margin-bottom: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.recommendations div{
  position: relative;
}
.see-more-btn{
  text-decoration: none;
  background: #D3212D;
  color: #fff;
  width: 80%;
  max-width: 350px;
  display: block;
  text-align: center;
  margin: 40px auto;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

/* ---------for small screen devices--- */
@media only screen and (max-width: 700px){
  .header h1{
      padding-top: 200px;
      font-size: 7vw;
  }
  .search-bar{
      width: 90%;
      margin: 30px auto;
      padding: 20px 10px 30px;
      border-radius: 5px;
      position: relative;
  }
  .search-bar form{
      display: block;
  }
  .search-bar form input{
      /* border-bottom: 1px solid #ddd; */
      width: 100%;
      margin-bottom: 20px;
      margin-top: 10px;
      padding-bottom: 10px;
  }
  .search-bar form button{
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
  }
  .special-offers{
    padding: 15% 5%;
  }
  .special-offers h3{
      font-size: 7vw;
      line-height: 8vw;
  }
  .special-offers p{
      font-size: 14px;
  }
  .special-offers-btn{
      padding: 6px 15px;
      border-radius: 4px;
      margin-top: 10px;
      font-size: 14px;
  }
  .cta{
      padding: 15% 5%;
  }
  .cta h3{
      font-size: 7vw;
      line-height: 8vw;
  }
  .cta p{
      font-size: 14px;
  }
  .cta-btn{
      padding: 6px 15px;
      border-radius: 4px;
      margin-top: 10px;
      font-size: 14px;
  }
  .locations p{
      font-size: 22px;
  }
}

/* ---------for medium screen devices--- */
@media only screen and (max-width: 1024px){
  .header h1{
    padding-top: 200px;
    font-size: 7vw;
}
  .search-bar{
      width: 90%;
      margin: 30px auto;
      padding: 20px 10px 30px;
      border-radius: 5px;
      position: relative;
  }
  .search-bar form{
      display: block;
  }
  .search-bar form input{
      /* border-bottom: 1px solid #ddd; */
      width: 100%;
      margin-bottom: 20px;
      margin-top: 10px;
      padding-bottom: 10px;
  }
  .search-bar form button{
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
  }
}
