/* CALENDAR */
/* .fc-h-event{
  background-color: rgb(250, 162, 162);
  border: 2px solid rgb(250, 162, 162);
  
}

.fc-event-title-container{
  background-color: rgb(250, 162, 162);
  border: 1px solid #f04651;
  color:white;
}

.fc-event-title-container.final {
  background-color: rgb(250, 162, 162);
  border: 1px solid #f04651;
}

.fc-event-title {
  background-color: rgb(250, 162, 162);
} */
