.container-fp{
  padding: 0 7%;
}

.property-fp{
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-row-gap: 30px;
  margin-bottom: 30px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}
.property-fp div{
  position: relative;
}